# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# OS-specific
.DS_Store
Thumbs.db

# Mono
*.pidb
*.booproj
*.sln
*.userprefs

# Visual Studio
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userosscache
*.sln.docstates
